{{ define "main" }}
  {{ if .Site.Params.featuredTags }}
    <ul class="container flex flex-wrap items-center justify-center mx-auto mb-10 gap-x-2 gap-y-5">
      {{ range .Site.Params.featuredTags }}
        <li>
          <a href="/tags/{{ . }}" class="py-2 px-4 text-sm border border-gray-300 rounded-full">{{ . }}</a>
        </li>
      {{ end }}
    </ul>

    <hr class="container mx-auto mb-6 border-gray-300" />
  {{ end }}

  {{ if .Content }}
    {{ .Content }}
  {{ end }}

  {{ $pages := where site.RegularPages "Type" "posts" }}
  {{ $paginator := .Paginate $pages.ByDate.Reverse }}

  <ul class="container mx-auto">
    {{ range $paginator.Pages }}
      <li class="py-4 mb-6">
        <a class="flex md:flex-row flex-col items-center md:gap-6 gap-4" href="{{ .RelPermalink }}">

          {{ with .Resources.Get .Params.featured_image }}
            {{ $image := .Process "crop 340x200 center webp" }}
            <img class="rounded-xl lg:h-[12rem] md:h-[10rem] h-auto" src="{{ $image.RelPermalink }}" heigth="{{ $image.Height }}" />
          {{ end }}

          <div class="overflow-hidden">
            <h2 class="lg:text-2xl md:text-xl text-lg font-bold md:mb-4 mb-2 line-clamp-2">{{ .LinkTitle }}</h2>
            <div class="md:mb-4 mb-2 truncate text-gray-500 text-wrap line-clamp-2 md:text-base text-sm">{{ .Content | strings.Truncate 200 }}</div>
            <small class="text-gray-500">{{ time.Format "2006. 1. 2" .Date }}</small>
          </div>
        </a>
      </li>
    {{ end }}
  </ul>

  {{ template "_internal/pagination.html" . }}
{{ end }}
