<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{{ if .IsHome }}
  {{ $title := site.Title }}
  <title>{{ $title }}</title>
  <meta name="twitter:title" property="og:title" content="{{ $title }}" />
{{ else }}
  {{ $title := printf "%s | %s" .Title site.Title }}
  <title>{{ $title }}</title>
  <meta name="twitter:title" property="og:title" content="{{ $title }}" />
{{ end }}

{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}

{{- if .IsHome -}}
  {{ $description := site.Params.Description }}
  <meta name="description" property="og:description" content="{{ $description }}" />
  <meta name="twitter:description" content="{{ $description }}" />

  {{ $logo := printf "%s%s" site.BaseURL (replace site.Params.Logo "/" "") }}
  <meta name="twitter:image" property="og:image" content="{{ $logo }}" />

  {{ $tags := "" }}
  {{ range $i, $v := .Site.Params.FeaturedTags }}
    {{ if $tags }}
      {{ $tags = printf "%s, %s" $tags $v }}
    {{ else }}
      {{ $tags = $v }}
    {{ end }}
  {{ end }}
  <meta name="keywords" content=" {{ $tags }} " />
  <meta property="og:type" content="website" />
{{- else -}}
  {{ $description := .Params.Summary }}
  <meta name="description" property="og:description" content="{{ $description }}" />
  <meta name="twitter:description" content="{{ $description }}" />

  {{ with .Resources.Get .Params.featured_image }}
    {{ $image := .Process "fill 350x140 center webp" }}
    <meta name="twitter:image" property="og:image" content="{{ $image.Permalink }}" />
    <meta property="og:type" content="article" />
  {{ else }}
    <meta property="og:type" content="website" />
  {{ end }}
{{- end }}

{{ if isset .Params "canonical" }}
  <link rel="canonical" href="{{ .Params.canonical }}" />
  <meta property="og:url" content="{{ .Params.canonical }}" />
{{ else }}
  <link rel="canonical" href="{{ .Permalink }}" />
  <meta property="og:url" content="{{ .Permalink }}" />
{{ end }}

<meta name="twitter:card" content="summary_large_image" />
<meta property="og:site_name" content="{{ site.Title }}" />
<meta property="og:locale" content="{{ site.Language.LanguageCode }}" />

{{ if not .IsPage }}
  {{ if .Paginator.HasPrev }}
    <link rel="prev" href="{{ .Paginator.Prev.URL | absURL }}" />
  {{ end }}
  {{ if .Paginator.HasNext }}
    <link rel="next" href="{{ .Paginator.Next.URL | absURL }}" />
  {{ end }}
{{ else }}
  {{ range .Params.authors }}
    {{ $author := $.Site.GetPage (printf "/authors/%s" .) }}
    {{ with $author }}
      <meta name="author" content="{{ .Params.name }}" />
    {{ end }}
  {{ end }}
{{ end }}
