<div class="container m-auto flex items-center justify-between h-[8rem] px-8">
  <h1>
    <a href="/" class="flex items-center gap-3 text-xl">
      <img class="h-[1.6rem]" src="{{ .Site.Params.logo }}" alt="logo" />
      <p>
        {{ if .Site.Params.titleStrong }}
          <strong>{{ .Site.Params.titleStrong }}</strong>
          {{ .Site.Params.titleLight }}
        {{ else }}
          {{ .Site.Title }}
        {{ end }}
      </p>
    </a>
  </h1>
  {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
</div>
