<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />

<title>
  {{ if .IsHome }}
    {{ site.Title }}
  {{ else }}
    {{ .Title }} | {{ site.Title }}
  {{ end }}
</title>

{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}

{{ template "_internal/google_analytics.html" . }}
{{ template "_internal/opengraph.html" . }}
{{ template "_internal/twitter_cards.html" . }}
{{ template "_internal/schema.html" . }}

<link rel="canonical" href="{{ .Permalink }}" />

{{- if .IsHome -}}
  <meta name="description" content="{{ site.Params.Description }}" />

  {{ range .Site.Params.FeaturedTags }}
    <meta name="keywords" content="{{ . }}" />
  {{ end }}

{{- else -}}
  <meta name="description" content="{{ .Params.Descriptio }}" />
{{- end }}

{{ if not .IsPage }}
  {{ if .Paginator.HasPrev }}
    <link rel="prev" href="{{ .Paginator.Prev.URL | absURL }}" />
  {{ end }}
  {{ if .Paginator.HasNext }}
    <link rel="next" href="{{ .Paginator.Next.URL | absURL }}" />
  {{ end }}
{{ else }}
  {{ range .Params.authors }}
    {{ $author := $.Site.GetPage (printf "/authors/%s" .) }}
    {{ with $author }}
      <meta name="author" content="{{ .Params.title }}" />
    {{ end }}
  {{ end }}
{{ end }}
