{{- /*
Renders a menu for the given menu ID.

@context {page} page The current page.
@context {string} menuID The menu ID.

@example: {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
*/}}

{{- $page := .page }}
{{- $menuID := .menuID }}

{{- with index site.Menus $menuID }}
  <nav class="md:block hidden">
    <ul class="flex gap-4">
      {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
    </ul>
  </nav>

  <button id="navButton" class="relative z-12 md:hidden block" aria-label="Toggle menu" aria-expanded="false" aria-controls="menu">
    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
    </svg>
  </button>

  <nav class="fixed top-0 md:-right-full! -right-full h-full w-full bg-gray-900/30" id="navMenu" style="transition: all .5s;">
    <ul class="flex flex-col gap-2 w-[12rem] h-full ml-auto p-6 pt-24 bg-white">
      {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
    </ul>
  </nav>

  <script>
    const navButton = document.getElementById('navButton');
    const navMenu = document.getElementById('navMenu');

    navButton.addEventListener('click', function() {
      if (navMenu.classList.contains('-right-full')) {
        navMenu.classList.remove('-right-full');
        navMenu.classList.add('right-0');
        navButton.setAttribute('aria-expanded', 'true');
      } else {
        navMenu.classList.remove('right-0');
        navMenu.classList.add('-right-full');
        navButton.setAttribute('aria-expanded', 'false');
      }
    });

    navMenu.addEventListener('click', function(e) {
      if (e.target.tagName !== 'NAV') {
        return;
      }

      navMenu.classList.remove('right-0');
      navMenu.classList.add('-right-full');
      navButton.setAttribute('aria-expanded', 'false');
    });
  </script>
{{- end }}

{{- define "partials/inline/menu/walk.html" }}
  {{- $page := .page }}
  {{- range .menuEntries }}
    {{- $attrs := dict "href" .URL }}
    {{- if $page.IsMenuCurrent .Menu . }}
      {{- $attrs = merge $attrs (dict "class" "active" "aria-current" "page") }}
    {{- else if $page.HasMenuCurrent .Menu .}}
      {{- $attrs = merge $attrs (dict "class" "ancestor" "aria-current" "true") }}
    {{- end }}
    {{- $name := .Name }}
    {{- with .Identifier }}
      {{- with T . }}
        {{- $name = . }}
      {{- end }}
    {{- end }}
    <li>
      <a
        {{- range $k, $v := $attrs }}
          {{- with $v }}
            {{- printf " %s=%q" $k $v | safeHTMLAttr }}
          {{- end }}
        {{- end -}}
      >{{ $name }}</a>
      {{- with .Children }}
        <ul>
          {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
        </ul>
      {{- end }}
    </li>
  {{- end }}
{{- end }}
