{{ define "main" }}
  {{ if .Site.Params.featuredTags }}
    <ul class="container flex flex-wrap items-center justify-center mx-auto mb-10 gap-x-2 gap-y-5">
      {{ range .Site.Params.featuredTags }}
        <li>
          {{ partial "components/tag.html" (dict "RelPermalink" (printf "/tags/%s" .) "LinkTitle" .) }}
        </li>
      {{ end }}
    </ul>

    <hr class="container mx-auto mb-6 border-gray-300" />
  {{ end }}

  {{ if .Content }}
    {{ .Content }}
  {{ end }}

  {{ .Store.Set "pages" (where site.RegularPages "Type" "posts") }}
  {{ partial "components/posts.html" . }}
{{ end }}
