{{ define "main" }}
  <article class="container mx-auto">
    <h1 class="text-3xl font-bold mb-6">{{ .Title }}</h1>

    {{ partial "components/post/tags.html" . }}

    <div class="mb-10 md:text-left text-right">
      {{ partial "components/post/authors.html" . }}

      {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
      {{ $dateHuman := .Date | time.Format "2006. 1. 2" }}
      <time class="text-gray-500 text-sm" datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
    </div>

    <div class="markdown-body">
      {{ .Content }}
    </div>
  </article>
{{ end }}
