{{ define "main" }}
  <article class="container mx-auto">
    <h1 class="text-3xl font-bold mb-6">{{ .Title }}</h1>

    {{ partial "components/post/tags.html" . }}

    <div class="mb-10 md:text-left text-right">
      {{ partial "components/post/authors.html" . }}
      {{ partial "components/post/date.html" . }}
    </div>

    <div class="markdown-body">
      {{ .Content }}
    </div>

    {{ if .Site.Config.Services.Disqus.Shortname }}
      {{ template "_internal/disqus.html" . }}
    {{ end }}
  </article>
{{ end }}
